<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="javascript:" (click)="gotoRoute('patient')">Patient Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="javascript:" (click)="gotoRoute('dailyschedule')">Daily Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="javascript:" (click)="gotoRoute('vitals')">Vitals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:" (click)="gotoRoute('prescription')">Prescription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:" (click)="gotoRoute('schedule')">schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:" (click)="gotoRoute('reports')">Reports</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="javascript:" (click)="gotoRoute('hospitalisation')">Hospitalisation</a>
            </li>
        </ul>
    </div>
</div>