<div class="app_main">
    <div class="container-fluid">
        <h2>Excercies Helper</h2>
        <div class="excerciseList">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="card">

                        <img src="./assets/images/findImage.jpg" class="card-img-top">

                        <div class="card-body">

                            <h5 class="card-title">Aphasia: Find the Image</h5>
                            <p class="card-text">Find the called out image out of 3 images</p>
                            <button class="btn btn-primary" (click)="gotoRoute('findImage')">Get Started</button>
                            <button class="btn btn-primary" (click)="gotoRoute('addfindImage')">Add</button>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-4">
                    <div class="card">

                        <img src="./assets/images/findImage.jpg" class="card-img-top">

                        <div class="card-body">

                            <h5 class="card-title">Aphasia: Name the Image</h5>
                            <p class="card-text">Say aloud the name of the image</p>
                            <button class="btn btn-primary" (click)="gotoRoute('nameImage')">Get Started</button>
                            <button class="btn btn-primary" (click)="gotoRoute('addfindImage')">Add</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="card">

                        <img src="./assets/images/findImage.jpg" class="card-img-top">

                        <div class="card-body">

                            <h5 class="card-title">Excercise: Follow Instructions</h5>
                            <p class="card-text">Instructions to help you do excercise</p>
                            <button class="btn btn-primary" (click)="gotoRoute('doexercise')">Get Started</button>
                            <button class="btn btn-primary" (click)="gotoRoute('addexercise')">Add</button>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>